{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All Cars</h2>
    <div class="row">
      {% for car in cars %}
        <div class="card">
          <h5 class="card-header">{{car.name}}
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              {% if fruit.readyToDrive %}
                Drivable
              {% else %}
                Not Drivable
              {% endif %}
            </h5>
            <p class="card-text">The color of this
              {{car.name}}
              is
              {{car.color}}
            </p>
            <a class="btn btn-info" href="/cars/{{car.id}}">
              View
              {{car.name}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}}}}